---
layout: default
---

<div class="home">
  <section class="hero is-halfheight has-background-black-ter">
    <div class="hero-body">
      <div class = "container has-text-centered">
        <p class="title has-text-white-ter">
          Odyssey Army Training System
        </p>
        <p class="subtitle has-text-white-ter">
          A programmable computer for your firearm.
        </p>
        <div>
          <img src="/assets/images/photos/DSC09966-dark.jpg" alt="picture of odyssey attached to weapon decoy">
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-halfheight has-background-white">
    <div class="hero-body">
      <div class = "container has-text-centered">
        <p class="title">
          VR Integration
        </p>
        <div class="columns">
          <div class="column">
            <p class="subtitle">
              Combine with Odyssey VR Harness to create affordable Oculus Quest experiences
            </p>
            <div class="columns">
              <div class="column">
                <img src="/assets/images/photos/DSC09962.jpg" alt="picture of odyssey vr harness with quest 1 controller">
              </div>
              <div class="column">
                <img src="/assets/images/photos/quest2-5.jpg" alt="picture of odyssey vr harness with quest 2 controller and quest 2">
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
